main{
    min-height:100vh;
}

.section{

    padding:110px 0;

    position:relative;
}

.container{

    width:min(1200px,92%);

    margin:auto;
}

.section-title{

    margin-bottom:60px;

    text-align:center;
}

.section-subtitle{

    color:var(--primary);

    font-weight:600;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:10px;
}