:root{

--bg:#0f172a;
--surface:#111827;
--surface-2:#1e293b;

--text:#ffffff;
--text-light:#fcf6ed;

--primary:#3af0db;
--secondary:#1f7345;

--border:#282929;

--shadow:0 15px 40px rgba(0,0,0,.35);

--radius:18px;

--container:1200px;

--transition:.35s ease;

}